#destacados {
    display: grid;
    grid-template-rows: 20% 75% 5%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "destacados_title destacados_title destacados_title destacados_title"
    "article1 article2 article3 article4"
    "ellipsis ellipsis ellipsis ellipsis"
    ;
    gap: 1vw;
    margin: 2.5vw;
    margin-bottom: 5vw;
    h2 {
        grid-area: destacados_title;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        /* **************GRADIENT************ */
        background-image: linear-gradient(to right, white, map-get($estilos, colorPrincipal));
    }
    // For
    @for $i from 1 to 5 {
        .article#{$i} {
            grid-area: article#{$i};
        }
    }

    .article1 img, .article2 img, .article3 img, .article4 img {
        @include boxSize;
    }
    .ellipsis {
        grid-area: ellipsis;
        display: flex;
        justify-content: center;
        gap: 0.2vw;
    }

}
.productos {
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 1.2fr repeat(2, 0.9fr);
    grid-template-areas:
    "calzado indumentaria accesorios"
    "calzado todos_los_productos todos_los_productos"
    ;
    margin: 2.5vw;
    gap: 10px;
    // Extend
    .calzado {
        grid-area: calzado;
        &:hover{
            transform: scale(0.95);
        }
    } 
    .indumentaria {
        @extend .calzado;
        grid-area: indumentaria;
    }
    .accesorios {
        @extend .calzado;
        grid-area: accesorios;
    }
    .todos_los_productos {
        @extend .calzado;
        grid-area: todos_los_productos;
    }
    .calzado a img , .indumentaria a img, .accesorios a img, .todos_los_productos a img {
        @include boxSize;
    }
}
.encargos {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "encargos_img encargos_text"
    ;
    margin: 2.5vw;
    margin-top: 5vw;
    img {
        grid-area: encargos_img;
        @include boxSize;
    }
    .encargos_text {
        grid-area: encargos_text;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 5vw;
        h2 {
            font-size: 4vw;
        }
        p {
            font-size: 2vw;
        }
        button {
            font-size: 2.5vw;
        }
        .encargos_button {
            text-decoration: none;
            color: map-get($estilos, colorPrincipal);
            &:hover {
                color: map-get($estilos, colorSecundario);
            }
        }
        
    }
}
.contacto {
    display: grid;
    grid-template-rows: 40vw;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "maprouter showroom"
    ;
    background-image: url(../media/showroom.jpg);
    background-position: center;
    margin-top: 5vw;
    .maprouter {
        display: flex;
        justify-content: center;
        align-items: center;
        #gmap_canvas{
            grid-area: maprouter;
            width: 80%;
            height: 80%;
        }
    }
    .showroom {
        grid-area: showroom;
        display: flex;
        flex-direction: column;
        margin-left: 4vw;
        justify-content: center;
        h2 {
            margin-bottom: 4vw;
            font-size: 3vw;
        }
        .showroom_data {
            display: flex;
            margin-top: 1vw;
            align-items: center;
            font-size: 2vw;
            i {
                margin-right: 1vw;
            }
            a {
                text-decoration: none;
                color: black;
                &:hover{
                    color: map-get($estilos, colorPrincipal);
                }
            }
            &:hover{
                color: map-get($estilos, colorPrincipal);
            }
        }
    }
}