* {
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: content-box;
    transition: 1s;
}

/* Usado para todas las hero images */
.hero_image>img {    
    width: 100%;
}

// Maps
$estilos:(
    colorPrincipal: rgb(230, 177, 44),
    colorSecundario: rgb(255, 196, 46),
);

// Mixins
@mixin boxSize() {
    height: 100%;
    width: 100%;
}

@mixin products(){
    background-color: grey;
    padding: 1vw;
    margin: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;
        .btn-light:hover{
            color: map-get($estilos, colorPrincipal);
        }
    }
}

@mixin ProductsGridPropierties(){
    display: grid;
    gap: 2vw;
    margin: 2.5vw;
    margin-top: 5vw;
}

@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'productos.scss';
@import 'encargos.scss';
@import 'devoluciones-privacidad.scss';
@import 'faq.scss';
@import 'mediaqueries.scss';