* {
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: content-box;
    transition: 1s;
}

/* ******************************************* */
/* ***************INICIO HEADER*************** */
/* ******************************************* */

header {
    background-color: rgb(230, 177, 44);
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 1.5vw;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-left: 0.5vw;
    font-size: 1.5vw;
}

.logo a img {
    height: 2vw;
    width: 2vw;
}

.icon {
    font-size: 1.5vw;
}

.form-control {
    width: 40vw;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.5vw;
    margin-right: 0.5vw;
}

@media screen and (max-width:768px) {
    .logo {
        font-size: 0.5rem;
    }
    .icon {
        font-size: 1rem;
    }
}

/* ******************************************* */
/* *****************HEADER END**************** */
/* ******************************************* */


/* ******************************************* */
/* *****************INICIO INDEX************** */
/* ******************************************* */

.hero_image>img {    
    width: 100%;
}

#destacados {
    display: grid;
    grid-template-rows: 20% 75% 5%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "destacados_title destacados_title destacados_title destacados_title"
    "article1 article2 article3 article4"
    "ellipsis ellipsis ellipsis ellipsis"
    ;
    gap: 1vw;
    margin: 2.5vw;
    margin-bottom: 5vw;
}

#destacados h2 {
    grid-area: destacados_title;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    /* **************GRADIENT************ */
    background-image: linear-gradient(to right, white, rgb(230, 177, 44));
}

.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}

.article3 {
    grid-area: article3;
}

.article4 {
    grid-area: article4;
}

.article1 img, .article2 img, .article3 img, .article4 img {
    height: 100%;
    width: 100%;
}

.ellipsis {
    grid-area: ellipsis;
    display: flex;
    justify-content: center;
    gap: 0.2vw;
}

@media screen and (max-width:768px) {
    #destacados {
        display: flex;
        flex-direction: column;
        padding-left: 15%;
        padding-right: 15%;
        gap: 0px;
        margin-bottom: 10vw;
    }
    #destacados h2{
        font-size: 5vw;
    }
    .article2, .article3, .article4 {
        display: none;
    }
}

.productos {
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 1.2fr repeat(2, 0.9fr);
    grid-template-areas:
    "calzado indumentaria accesorios"
    "calzado todos_los_productos todos_los_productos"
    ;
    margin: 2.5vw;
    gap: 10px;
}

.calzado {
    grid-area: calzado;
}

.indumentaria {
    grid-area: indumentaria;
}

.accesorios {
    grid-area: accesorios;
}

.todos_los_productos {
    grid-area: todos_los_productos;
}

/* ********************TRANSFORM****************** */
.calzado:hover{
    transform: scale(0.95);
}
.indumentaria:hover{
    transform: scale(0.95);
}
.accesorios:hover{
    transform: scale(0.95);
}

.todos_los_productos:hover{
    transform: scale(0.95);
}

.calzado a img , .indumentaria a img, .accesorios a img, .todos_los_productos a img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width:768px) {
    .productos{
        display: flex;
        flex-direction: column;
        margin-bottom: 10vw;
    }
}

.encargos {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "encargos_img encargos_text"
    ;
    margin: 2.5vw;
    margin-top: 5vw;
}

.encargos_button {
    text-decoration: none;
}

.encargos img {
    grid-area: encargos_img;
    width: 100%;
    height: 100%;
}

.encargos_text {
    grid-area: encargos_text;
}

.encargos_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 5vw;
}

.encargos_text h2 {
    font-size: 4vw;
}

.encargos_text p {
    font-size: 2vw;
}

.encargos_text button {
    font-size: 2.5vw;
}

@media screen and (max-width:768px) {
    .encargos{
        display: flex;
        flex-direction: column;
        margin-bottom: 10vw;
    }
    .encargos_text h2 {
        font-size: 8vw;
    }
    .encargos_text p{
        font-size: 4vw;
    }
    .encargos_text button {
        font-size: 5vw;
    }
}

.contacto {
    display: grid;
    grid-template-rows: 40vw;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "maprouter showroom"
    ;
    background-image: url(../media/showroom.jpg);
    background-position: center;
    margin-top: 5vw;
}
.maprouter {
    display: flex;
    justify-content: center;
    align-items: center;
}
#gmap_canvas{
    grid-area: maprouter;
    width: 80%;
    height: 80%;
}

.showroom {
    grid-area: showroom;
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    justify-content: center;
}

.showroom h2 {
    margin-bottom: 4vw;
    font-size: 3vw;
}

.showroom_data {
    display: flex;
    margin-top: 1vw;
    align-items: center;
    font-size: 2vw;
}

.showroom_data i {
    margin-right: 1vw;
}

.showroom_data a {
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .contacto  {
        grid-template-rows: 60vw;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 10vw;
    }
    .showroom h2 {
        font-size: 4vw;
    }
    .showroom_data{
        font-size: 3vw;
    }

}

/* ******************ANIMATION**************** */
/* @keyframes left-in {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.hero_image {
    position: relative;
    animation-name: left-in;
    animation-duration: 1s;
} */

/* ******************************************* */
/* ******************INDEX END**************** */
/* ******************************************* */


/* ******************************************* */
/* ****************INICIO FOOTER************** */
/* ******************************************* */

footer {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: 4vw;
    display: flex;
    justify-content: space-around;
    font-size: 1vw;
}

.footer_data {
    display: flex;
    flex-direction: column;
}

.footer_data ul li {
    list-style: none;
}

.footer_data ul li a {
    text-decoration: none;
}

.footer_data ul li i {
    margin-right: 0.5vw;
}
.copyright {
    margin-top: 2vw;
    font-size: 1vw;
}

@media screen and (max-width:768px) {
.footer {
    margin-top: 4vw;
    display: flex;
    justify-content: space-around;
    font-size: 3vw;
}
.copyright {
    margin-top: 2vw;
    font-size: 3vw;
}
}

/* ******************************************* */
/* *****************FOOTER END**************** */
/* ******************************************* */


/* ******************************************* */
/* ***********INICIO productos.html*********** */
/* ******************************************* */

/* #products {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "product1 product2 product3 product4"
    "product5 product6 product7 product8"
    ;
    gap: 2vw;
    margin: 2.5vw;
    margin-top: 5vw;
}

.product1 {
    grid-area: product1;
}

.product2 {
    grid-area: product2;
}

.product3 {
    grid-area: product3;
}

.product4 {
    grid-area: product4;
}

.product5 {
    grid-area: product5;
} */

.product1 img, .product2 img, .product3 img, .product4 img, .product5 img {
    width: 100%;
    height: 100%;
}

.product {
    background-color: grey;
    padding: 1vw;
    margin: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
}

.product form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.return { /* USADO PARA TODOS LOS RETURN */
    display: flex;
    margin-top: 2vw;
    justify-content: center;
    text-decoration: none;
}

/* @media screen and (max-width:475px) {
    #products {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "product1 product2"
        "product3 product4"
        "product5 product6"
        "product7 product8"
        ;
        gap: 2vw;
        margin-top: 5vw;
    }
    .return {
        margin-bottom: 5vw;
    }
} */

/* ******************************************* */
/* ************END productos.html************* */
/* ******************************************* */


/* ******************************************* */
/* *************INICIO encargos.html********** */
/* ******************************************* */

#cotizacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    grid-template-areas: 
    "img text"
    ;
}

#cotizacion img {
    grid-area: img;
    width: 95%;
    height: 95%;
    padding: 2.5vw;
}

.cotizacion_text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2.5vw;
}

.cotizacion_text_form {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    margin-top: 1vw;
    align-items: center;
}

.cotizacion_text_form textarea {
    resize: none;
    width: 10vw;
}

.cotizacion_text_form_button {
    display: flex;
    justify-content: space-around;
    margin-top: 1vw;
    gap: 1vw;
    border-radius: 10%;
}

@media screen and (max-width:768px) {
    #cotizacion {
        display: flex;
        flex-direction: column;
    }
    #cotizacion img{
        width: 95%;
    }
    .cotizacion_text {
        margin-bottom: 10vw;
    }
    .cotizacion_text_form textarea {
        width: 50vw;
    }
}

/* ******************************************* */
/* ************END encargos.html************** */
/* ******************************************* */


/* ******************************************* */
/* ****INICIO devoluciones/privacidad.html**** */
/* ******************************************* */

.politics_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ******************************************* */
/* ******END devoluciones/privacidad.html***** */
/* ******************************************* */


/* ******************************************* */
/* *************INICIO faq.html*************** */
/* ******************************************* */

.politics_text div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
}

/* ******************************************* */
/* ***************END faq.html**************** */
/* ******************************************* */